body {
  margin:0 auto;
  background-image:url("img/tukue.jpg");
  background-position: center;
  width:500px;
  height:500px;
  display:flex;
  align-items:center;
  user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.waku {
  width:350px;
  margin:0 auto;
}

.top {
  background-color:#999999;
  padding-bottom:15px;
  border-left:4px solid #777777;
  border-right:6px solid #555555;
  border-radius: 10px 10px 0 0;
}

.logo {
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:50px;
}

.logo-left {
  font-family: 'Times New Roman', Times, serif;
  font-size:30px;
  color:	#A4C6FF;
  margin:10px 0 10px 20px;
}

.logo-right {
  display:flex;
  margin-right:20px;
}

.san {
  position:relative;
  width:20px;
  height:25px;
  background-color:#CCCC66;
  border-top:2px solid #666600;
  border-bottom:2px solid #666600;
  border-left:1.5px solid #666600;
  border-right:1px solid #666600;
}

.san:first-child {
  border-left:2px solid #666600;
}

.san:last-child {
  border-right:2px solid #666600;
}

.display {
  background-color:#CCCCCC;
  width:300px;
  height:45px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
  border:5px solid 	#EEEEEE;
  border-radius:10px;
}

.display_left {
  margin-left:5px;
  position:relative;
  color:#FEFEFE;
  background-color: #111111;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:15px;
  height:18px;
  visibility: hidden;
}

.after {
  visibility:initial;
}

.display_right {
  margin-right:5px;
  font-size:25px;
  text-align: right;
  width:90%;
}

.bottom {
  background-color:#666666;
  padding-bottom:30px;
  border-left:4px solid #555555;
  border-right:6px solid #333333;
  border-bottom:7px solid #333333;
  border-radius: 0 0 7px 7px;
}

.flex {
  display:flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  padding-top:25px;
}

.button {
  font-size:30px;
  color:#FEFEFE;
  width:50px;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px;
}

.black,
.enzan {background-color:#888888; box-shadow:0px 4px #555555;}
.red {background-color:#FF367F; box-shadow:0px 4px #990066;}
.bs {background-color:#6A5ACD; box-shadow:0px 4px #000099;}
